
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*Reset styles*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
address {
  font-style: normal;
}
/*--------------------стилизация цвет-шрифт--------------------*/
:root {
  --text-primary: #212121;
  --text-secondary: #757575;
  --selection: #2196f3;
  --background-primary: #ffffff;
  --background-secondary: #2f303a;
  --background-section: #f5f4fa;
}
body {
  background-color: var(--background-primary);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

/* стилизация logo */
.logo-items {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-web {
  color: #2196f3;
}
.logo-studio-header {
  color: #000000;
}
.logo-studio-footer {
  color: #ffffff;
}

/*Стилизация header links*/
.nav-link {
  color: var(--text-primary);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--selection);
}

/*Стилизация hero*/
.hero {
  background-color: var(--background-secondary);
}
.hero-title {
  color: var(--background-primary);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

/* стилизация buttons */
.primary-button {
  color: var(--background-primary);
  background-color: var(--selection);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.05em;
}
.secondary-button {
  color: var(--text-primary);
  background-color: var(--background-section);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.secondary-button:hover,
.secondary-button:focus {
  color: var(--background-primary);
  background-color: var(--selection);
  cursor: pointer;
}
.main-title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
/*стилизация text images*/
.team {
  background-color: var(--background-section);
}
.team-member {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.position-member {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.item-title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
}
.item-discription {
  color: var(--text-secondary);
  font-size: 14px;
  line-height: 1.7;
}

.pitfolio-item-title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item-discription {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.9;
}

/*стилизация links */
.header-link-contact {
  color: var(--text-secondary);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.link-map {
  color: #ffffff;
}
.footer-link-contact {
  color: rgba(255, 255, 255, 0.6);
}
.link-map,
.footer-link-contact {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.header-link-contact:hover,
.header-link-contact:focus,
.link-map:hover,
.link-map:focus,
.footer-link-contact:hover,
.footer-link-contact:focus {
  color: var(--selection);
}
footer {
  background-color: var(--background-secondary);
}
/*--------------------стилизация положения--------------------*/

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
/*container header*/

header {
  border: 2px solid #eeeeee;
}
.header-items {
  box-sizing: border-box;
  display: flex;
}
.logo {
  padding-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  padding-right: 331px;
}
.nav-item {
  padding-right: 50px;
}
.nav-item:last-child {
  padding-right: 0;
}
.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contact-list {
  display: flex;
}
.header-contact-item {
  padding-right: 50px;
}
.header-contact-item:last-child {
  padding-right: 0;
}
/*container hero*/

.hero-title {
  padding-top: 200px;
  text-align: center;
}
.button {
  padding-top: 30px;
  padding-bottom: 200px;
  text-align: center;
}
.primary-button {
  display: inline-block;
  
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 130px;
}

/*container features*/

.features-list {
  padding-top: 94px;
}
.features-list ul {
  display: flex;
  justify-content: space-between;
}
.feature-item {
  width: 270px;
}
.item-title {
  padding-bottom: 10px;
}

/*container doin*/

.main-title {
  padding-top: 94px;
  padding-bottom: 50px;
}
.doing-img {
  padding-bottom: 94px;
}
.doing-img ul {
  display: flex;
  justify-content: space-between;
}

/*container team*/

.team-list {
  padding-bottom: 94px;
}
.team ul {
  display: flex;
  justify-content: space-between;
}
.team-item {
  background-color: #ffffff;
}
.team-member {
  padding-top: 30px;
}
.position-member {
  padding-top: 10px;
  padding-bottom: 30px;
}

/*container buttons*/

.button {
  padding-top: 30px;
  padding-bottom: 200px;
  text-align: center;
}

.buttons-list {
  box-sizing: border-box;
  width: 611px;
  padding-top: 94px;
  padding-bottom: 34px;
  margin: 0 auto;
  text-align: center;
}
.buttons-list ul {
  display: flex;
  justify-content: space-between;
}
.secondary-button {
  display: inline-block;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 30px;
}

/*container portfolio*/

.prtfolio-list {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding-bottom: 94px;
}
.prtfolio-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio-item {
  width: 370px;
  height: 404px;
  border: 2px solid #eeeeee;
  margin-top: 15px;
  margin-bottom: 15px;
}
.portfolio-item:nth-child(-n + 3) {
  margin-top: 0;
}
.portfolio-item:nth-child(n + 7) {
  margin-bottom: 0;
}
.pitfolio-item-title {
  min-width: 322px;
  margin-top: 20px;
  margin-left: 24px;
}
.portfolio-item-discription {
  min-width: 322px;
  padding-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
}

/*container footer*/

.logo-footer {
  padding-top: 60px;
}
.footer-contact {
  padding-top: 20px;
  padding-bottom: 60px;
}
.footer-link-contact {
  padding-top: 9px;
}
