*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --text-primary: #212121;
  --text-secondary: #757575;
  --accent: #2196f3;
  --logo-primary: #000000;
  --background-primary: #ffffff;
  --background-secondary: #2f303a;
  --background-section: #f5f4fa;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
}
/*Reset styles*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
address {
  font-style: normal;
}
/*--------------------Stile color and font--------------------*/

body {
  background-color: var(--background-primary);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
  font-weight: normal;
}

/* стилизация logo */
.logo-items {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-web {
  color: var(--accent);
}
.logo-studio-header {
  color: var(--logo-primary);
}
.logo-studio-footer {
  color: var(--background-primary);
}

/*Стилизация header links*/
.nav-link {
  color: var(--text-primary);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--accent);
}

/*Стилизация hero*/
.hero {
  background-color: var(--background-secondary);
}
.hero-title {
  color: var(--background-primary);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* стилизация buttons */
.primary-button {
  color: var(--background-primary);
  background-color: var(--accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.secondary-button {
  color: var(--text-primary);
  background-color: var(--background-section);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.secondary-button:hover,
.secondary-button:focus {
  color: var(--background-primary);
  background-color: var(--accent);
  cursor: pointer;
}
.main-title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}
/*стилизация text images*/
.team {
  background-color: var(--background-section);
}
.team-member {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.position-member {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.item-title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
}
.item-discription {
  color: var(--text-secondary);
  font-size: 14px;
  line-height: 1.7;
}
.portfolio-item-title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-item-discription {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.9;
}
/*стилизация links */
.contact-link {
  color: var(--text-secondary);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.link-map {
  color: var(--background-primary);
}
.footer-contact-link {
  color: var(--footer-contacts);
}
.link-map,
.footer-contact-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.contact-link:hover,
.contact-link:focus,
.link-map:hover,
.link-map:focus,
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent);
}
.footer-section {
  background-color: var(--background-secondary);
}
/*--------------------Stile Flexbox--------------------*/

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
/*container header*/

.header-section {
  border: 1px solid var(--border-color);
}
.header-items {
  display: flex;
  align-items: center;
}
.navigation {
  margin-left: 93px;
}
.nav-list {
  display: flex;
}
.nav-link {
  display: block;
  padding: 32px 0;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.header-section .contact-list {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}

/*container hero*/

.hero {
  padding: 200px 0;
  text-align: center;
}
.primary-button {
  padding: 10px 32px;
  border-radius: 4px;
}

/*container features*/

.features {
  padding-top: 94px;
}
.features-list {
  display: flex;
  justify-content: space-between;
}
.feature-item {
  width: 270px;
}
.item-title {
  margin-bottom: 10px;
}

/*container doin*/

.doing-img {
  display: flex;
  justify-content: space-between;
}

/*container team*/

.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  background-color: var(--background-primary);
}
.team-title {
  padding: 30px 0;
}
.position-member {
  margin-top: 10px;
}

/*container buttons*/
button {
  border: 0;
}
.buttons-list {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons-list-item:not(:last-child) {
  margin-right: 8px;
}
.secondary-button {
  display: inline-block;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
}

/*container portfolio*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}
.portfolio-item {
  margin-right: 30px;
}
.portfolio-item:nth-child(3n + 3) {
  margin-right: 0;
}
.portfolio-text-wraper {
  padding: 19px 23px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.portfolio-item-discription {
  margin-top: 4px;
}

/*container footer*/
.footer-section {
  padding: 60px 0;
}
address {
  margin-top: 20px;
}
.footer-contact-item:not(:first-child) {
  margin-top: 9px;
}
